* {
    margin: 0;
    padding: 0%;
}


body {
    background-color: #717981;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    color: #000000;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 500;

}

section {
    margin-top: 40px;
    color: white;
}

#navbar {
    background-color: darkgray;
    width: 100%;
    border-bottom: 1px solid;
}

#navbar li {
    color: black;
    border-top: 1px solid black;
    list-style: none;

}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    transition: font-wheight 0.2s ease-in-out;
    transition: text-indent 0.2s ease-in-out;

}

#navbar a:hover {
    font-weight: 500;
    text-indent: 5px;

}

p {
    margin: 10px;
    margin: 1em auto;
    text-align: justify;
}

ol {
    margin-left: 30px;

}

#main-doc {
    margin: 0 auto;

}

code {
    display: block;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    background-color: black;
    padding: 0 5px;
    margin: 10px;
    border-radius: 50px;
    color: greenyellow;
    font-family: Roboto;
}

img {
    max-width: 100%; 
    height: auto; 
    border-radius: 0;
    margin: 20px auto;

}



@media screen and (min-width: 768px) { 
    body {
        flex-direction: row;
        align-items: flex-start;
    }

    #navbar {
        width: 300px;
        height: 100vh;
        position: fixed;
        overflow: auto; 
    }

    #main-doc {
        width: calc(100% - 320px);
        margin-left: 320px;
        padding: 20px;
        max-width: 1200px;
    }
}
